"use strict";

const DbMixin = require("../mixins/db.mixin");

/**
 * @typedef {import('moleculer').Context} Context Moleculer's Context
 */

module.exports = {
  name: "<%= tablename %>",
  // version: 1

  /**
	 * Mixins
	 */
  mixins: [DbMixin("<%= tablename %>")],

  /**
	 * Settings
	 */
  settings: {
    // Available fields in the responses
    fields: <%= tablefields %>
  },

  /**
	 * Action Hooks
	 */
  hooks: {
    before: {
    }
  },

  /**
	 * Actions
	 */
  actions: {
    /**
		 * The "moleculer-db" mixin registers the following actions:
		 *  - list
		 *  - find
		 *  - count
		 *  - create
		 *  - insert
		 *  - update
		 *  - remove
		 */

    // --- ADDITIONAL ACTIONS ---    

    async group(ctx) {
      let { field, condition = {} } = ctx.params;
      let result = await this.aggregate([
        {
          "$match": condition
        }, {
          "$group": {
            _id: "$" + field
          }
        }]);
      return result;
    },
  },

  /**
	 * Methods
	 */
  methods: {
    async aggregate(params) {
      return await this.adapter.collection.aggregate(params).toArray();
    },
  },

  /**
	 * Fired after database connection establishing.
	 */
  async afterConnected() {
  }
};